extends baseEmail

block content
  p Hallo #{firstName},
  p Hast du dein Passwort vergessen? Unter folgendem Link kannst du dein Passwort zurücksetzen und ein neues Passwort festlegen: 
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Passwort zurücksetzen
  p Falls du dein Passwort nicht vergessen hast, kannst du dieses E-Mail als gegenstandslos betrachten.
  p Verein Querbeet