extends baseEmail

block content
  p Hallo #{firstName},
  p Herzlich willkommen bei Querbeet!
  p Wir freuen uns, dich bei Querbeet begrüssen zu dürfen. Auf unserer Web-App kannst du deine Einsatzstunden erfassen.
    p Ein Vorstandsmitglied wird sich in den nächsten Tagen bei dir melden.
  p Verein Querbeet